
<div class=" bg-sky-50 bg-hero bg-cover w-full max-h-full"> 
  <nav class="flex items-center justify-between flex-wrap bg-sky-700 p-6 drop-shadow-lg">
    <div class="flex items-center flex-shrink-0 text-sky-50 mr-6">
      <span class="font-semibold text-xl tracking-tight">MySchedual</span>
    </div>
    <div class="block lg:hidden"> 
    </div>
    
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <a href="home"class="block mt-4 lg:inline-block lg:mt-0 text-sky-50 hover:text-white mr-4 font-serif font-bold">
          Home
        </a>
        <a href="calendar" class="block mt-4 lg:inline-block lg:mt-0 text-sky-50 hover:text-white mr-4 font-serif font-bold">
         Calendar
        </a>
       
      </div>

    </div>
   
  </nav>
  <div class="w-full bg-cover bg-center h-3 bg-stone-500/20"></div>


<div class="my-20 mx-auto container sm:max-w-6xl py-5 bg-blue-50 max-w-xs rounded-2xl shadow-xl "> <!--start of the big blue continer-->
<div class="grid grid-cols-3 gap-4"> <!--divided the cards-->
  
  <div class=" bg-white py-8 px-5 ml-4 mr-4 rounded-md shadow-md"> <!--card1-->
  <div class="text-center text-stone-800 font-bold font-serif ">Courses registeration</div>
  
  <div class="flex gap-1 mt-4">
    <div class="text-green-600 font-bold ml-16 font-serif">Start:</div>
    <div class="text-black ml-1 font-serif">6/1/2022</div>
  </div>

  <div class="flex gap-4 mt-2">
    <div class="text-red-600 font-bold ml-16 font-serif">End:</div>
    <div class="text-black font-serif">13/1/2022</div>
  </div>
  </div> <!--end card1-->

  <div class=" bg-white py-8 px-5 ml-4 mr-4 rounded-md shadow-md"> <!--card2-->
    <div class="text-center text-stone-800 font-bold font-serif ">First semester</div>
    
    <div class="flex gap-1 mt-4">
      <div class="text-green-600 font-bold ml-16 font-serif">Start:</div>
      <div class="text-black ml-1 font-serif">28/8/2022</div>
    </div>
  
    
    </div> <!--end card2-->

    <div class=" bg-white py-8 px-5 ml-4 mr-4 rounded-md shadow-md"> <!--card3-->
      <div class="text-center text-stone-800 font-bold font-serif ">National day holiday</div>
      
      <div class="flex gap-1 mt-4">
        <div class="text-green-600 font-bold ml-16 font-serif">Start:</div>
        <div class="text-black ml-1 font-serif">21/9/2022</div>
      </div>
    
      <div class="flex gap-4 mt-2">
        <div class="text-red-600 font-bold ml-16 font-serif">End:</div>
        <div class="text-black font-serif">25/9/2022</div>
      </div>
      </div> <!--end card3-->
    
      <div class=" bg-white py-8 px-5 ml-4 mr-4 rounded-md shadow-md"> <!--card4-->
        <div class="text-center text-stone-800 font-bold font-serif ">Drop Courses</div>
        
        <div class="flex gap-1 mt-4">
          <div class="text-green-600 font-bold ml-16 font-serif">Start:</div>
          <div class="text-black ml-1 font-serif">4/9/2022</div>
        </div>
      
        <div class="flex gap-4 mt-2">
          <div class="text-red-600 font-bold ml-16 font-serif">End:</div>
          <div class="text-black font-serif">10/10/2022</div>
        </div>
        </div> <!--end card4-->

        <div class=" bg-white py-8 px-5 ml-4 mr-4 rounded-md shadow-md"> <!--card5-->
          <div class="text-center text-stone-800 font-bold font-serif ">Final Exams</div>
          
          <div class="flex gap-1 mt-4">
            <div class="text-green-600 font-bold ml-16 font-serif">Start:</div>
            <div class="text-black ml-1 font-serif">13/11/2022</div>
          </div>
        
          <div class="flex gap-4 mt-2">
            <div class="text-red-600 font-bold ml-16 font-serif">End:</div>
            <div class="text-black font-serif">13/12/2022</div>
          </div>
          </div> <!--end card5-->

          <div class=" bg-white py-8 px-5 ml-4 mr-4 rounded-md shadow-md"> <!--card6-->
            <div class="text-center text-stone-800 font-bold font-serif ">Mid-Year vacation</div>
            
            <div class="flex gap-1 mt-4">
              <div class="text-green-600 font-bold ml-16 font-serif">Start:</div>
              <div class="text-black ml-1 font-serif">24/11/2020</div>
            </div>
          
            <div class="flex gap-4 mt-2">
              <div class="text-red-600 font-bold ml-16 font-serif">End:</div>
              <div class="text-black font-serif">30/10/2022</div>
            </div>
            </div> <!--end card6-->
          
            <div class=" bg-white py-8 px-5 ml-4 mr-4 rounded-md shadow-md"> <!--card7-->
              <div class="text-center text-stone-800 font-bold font-serif ">Courses registeration 2</div>
              
              <div class="flex gap-1 mt-4">
                <div class="text-green-600 font-bold ml-16 font-serif">Start:</div>
                <div class="text-black ml-1 font-serif">30/10/2022</div>
              </div>
            
              <div class="flex gap-4 mt-2">
                <div class="text-red-600 font-bold ml-16 font-serif">End:</div>
                <div class="text-black font-serif">5/11/2022</div>
              </div>
              </div> <!--end card7-->
          
              <div class=" bg-white py-8 px-5 ml-4 mr-4 rounded-md shadow-md"> <!--card8-->
                <div class="text-center text-stone-800 font-bold font-serif ">Second semester</div>
                
                <div class="flex gap-1 mt-4">
                  <div class="text-green-600 font-bold ml-16 font-serif">Start:</div>
                  <div class="text-black ml-1 font-serif">4/12/2022</div>
                </div>
              
                <div class="flex gap-4 mt-2">
                  <div class="text-red-600 font-bold ml-16 font-serif">End:</div>
                  
                </div>
                </div> <!--end card8-->

                <div class=" bg-white py-8 px-5 ml-4 mr-4 rounded-md shadow-md"> <!--card9-->
                  <div class="text-center text-stone-800 font-bold font-serif ">Drop Courses</div>
                  
                  <div class="flex gap-1 mt-4">
                    <div class="text-green-600 font-bold ml-16 font-serif">Start:</div>
                    <div class="text-black ml-1 font-serif">11/12/2022</div>
                  </div>
                
                  <div class="flex gap-4 mt-2">
                    <div class="text-red-600 font-bold ml-16 font-serif">End:</div>
                    <div class="text-black font-serif">26/1/2023</div>
                  </div>
                  </div> <!--end card9-->

                  

     









</div> <!--End of grid-->

</div> <!--end of the big blue container -->

<div class="w-full bg-cover bg-center h-3 bg-stone-500/20"></div>
</div>